html {
  background-color: #1a1a1a;
  color: #e1e1ed;
  font-weight: 100;

}

body {
  font-family: 'Montserrat' !important;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}


.main {
  // -webkit-animation: backgroundfadein 5s;
  background-color: #1a1a1a;
  display: flex;
  border-radius: 1em;

  div {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  &-title {
    margin-top: 0;
    justify-content: center;
    display: flex;
  }

  &-info {
    justify-content: center;
    display: flex;
  }

  & h1 {
    margin: 0;
  }

  & h3 {
    margin: 0.25em;
    margin-bottom: 0.5em;
    color: white !important;
    -webkit-animation:colorchange2 3.4s; 
  }
}

.about {
  -webkit-animation: backgroundfadein 6.8s;
  background-color: #2b2b2b;
  border-radius: 0.5em;
  margin-right: 0.5em !important;

  &-content {
    max-width: 35em;
    margin-bottom: 1em;
    &-bio {
      -webkit-animation: fadeinslower 5.7s;
    }
  }

  &-title {
    display: flex;
    flex-direction: row;
    -webkit-animation: fadeinslower 5.7s;

  }
}



.audio{
  background-color:#2b2b2b;
  border-radius: 0.5em;
  -webkit-animation: backgroundfadein 8.2s;
  margin-left: 0.5em !important;

  &-title{
    margin: -0;
    -webkit-animation: fadeinslower 7.1s;
  }

  &-examples {
    margin: 0;
    margin-bottom: 1em;
    -webkit-animation: fadeinslower 7.1s;

  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  -webkit-animation: fadeinslower 8.5s;
}

h1, h2 {
  color: #98c0f1;
}

h3 {
  color: white;
  margin: 0.25em;
  font-weight: 100;
  font-size: 2em;
}

h2 {
  margin-top: 0.5 em;
  margin: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 300;
  h1 {
    color: #98c0f1;
  }
}

h1 {
  -webkit-animation:colorchange 2s; 
  font-size: 4.5em;
  -webkit-text-fill-color: #d7d8fa00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #97c0f1;     
}

a {
  color: #98c0f1;
}

a:hover {
  color: #4285f4;
}

img {
  // -webkit-animation: greyscale 10s 1;
  -webkit-animation: picturemove 5s;
  width: 11em;
  height: 11em;
  border-radius: 5em;
  margin-right: 0.7em;
  margin-bottom: 0em;
  float: left;
}

@-webkit-keyframes picturemove {
  0% {
      -webkit-filter: grayscale(1);
      width: 50vw;
      height: 50vw;
      border-radius: 0;
      // position: absolute;
      margin-top: -6em;
      margin-left: calc(25vw - 2.5em);
    }
  10% {
    -webkit-filter: grayscale(1);
  }

  40% {
    -webkit-filter: grayscale(0);
    width: 50vw;
    height: 50vw;
    border-radius: 0;
    position: absolute;
    margin-top: -3em;
    margin-left: calc(25vw - 2.5em);
  }

  60% {
    -webkit-filter: grayscale(0);
    width: 50vw;
    height: 50vw;
    border-radius: 0;
    position: absolute;
    margin-top: -3em;
    margin-left: calc(25vw - 2.5em);
  }
  100% {
      width: 11em;
      height: 11em;
      border-radius: 5em;
      position: absolute;
  }
}

@-webkit-keyframes backgroundfadein {
  0% {
    background-color: #1a1a1a;
  }

  60% {
    background-color: #1a1a1a;
  }

  100% {
    background-color: #2b2b2b;
  }
}


@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundfadein {
  0% {
    background-color: #1a1a1a;
  }

  80% {
    background-color: #1a1a1a;
  }

  100% {
    opacity: #2b2b2b;
  }
}

@-webkit-keyframes fadeinslower {
  0% {
   opacity: 0.001;
  }

  10% {
    opacity: 0.001;
  }

  90% {
    opacity: 0.001;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes colorchange {
  0% {
    color:  #1a1a1a;
    margin-top: 0.4em;
  }
  80% {
    color: #95a7bd;
  }
  100% {
    color: #98c0f1;
    margin-top: 0;
  }
}

@-webkit-keyframes colorchange2 {
  0% {
    color:  #1a1a1a;
  }
  70% {
    color:  #1a1a1a;
  }
  100% {
    color: #e1e1ed;
  }
}

@-webkit-keyframes greyscale {
  0%   { -webkit-filter: grayscale(1); /* Google Chrome & Webkit Nightlies */}
  100% { -webkit-filter: grayscale(0); /* Google Chrome & Webkit Nightlies */ }
}


@media (max-width: 640px) { 
  .main {
    // width: 100%;
    flex-direction: column;
  }

  .audio-examples-title, .audio-examples-player {
    margin-left: 0 !important;
  }

  .about {
    height: 18em;
  }
 }

 @media (max-width: 475px) { 
   .about {
     height: 23em;
   }
 }

 @media (max-width: 370px) { 
  .about {
    height: 26em;
  }
}

@media (max-width: 370px) { 
  .about {
    height: inherit;
  }
}

@media (min-width: 1000px) { 
  img {
    margin-bottom: 4em;
  }
}

